.card {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 8px;
  min-height: 300px;
  max-height: auto;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  width: 90%;
  max-width: 90%;
  overflow: hidden;
}
.card-content {
  display: flex;
  flex-direction: column;
}

.code-section {
  font-size: 1rem;
  margin-top: 20px;
}
.copy-button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.copy-button:hover {
  background-color: #1ee8e4;
}
.copy-notice {
  color: rgb(22, 202, 234);
  margin-top: 5px;
}
.buttons-sections {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.section-button {
  width: 33%;
  margin: 1px;
  background-color: #fff;
  color: black;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.section-button:hover {
  background-color: #007bff;
  color: white;
}

.card-title-uno {
  font-size: 30px;
  font-weight: bold;
  color: aquamarine;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px
}

.card-textoAcom{
  margin-top: 15px;
  font-size: 20px;
}
.accordion-content {
  display: block;
  color: black;
  margin-top: 10px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.card-container-elementoUno {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.card-elementoUno {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  text-align: center;
  background-color: white;
  max-width: 300px;
  margin: 0 auto;
}
.card-elementoUno.swipe-right {
  background-color: #8bc34a;
  transition: background-color 0.5s ease;
}

.card-elementoUno.swipe-left {
  background-color: #ffccbc;
  transition: background-color 0.5s ease;
}

.card-elementoUno img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.swipe-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.swipe-buttons button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  border: #fff solid 1px;
  border-radius: 50%;
  margin: 3px;
}
.swipe-buttons button:hover {
  border: green solid 1px;
}
.nombreCard{
  color: black;
}
.no-more-cards {
  height: 50vh;
  margin-top: 20px;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 20px;
}
.no-more-cards-p{
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
.button-card-reset {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button-card-reset:hover {
  background-color: #1ee8e4;
}
@media (max-width: 768px) {
  .code-section {
      max-width: 90%;
      font-size: 0.6rem;
  }
}