.card {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    min-height: 300px;
    max-height: auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    width: 90%;
    max-width: 90%;
    overflow: hidden;
}
.table-title{
    font-size: 30px;
    font-weight: bold;
    color: aquamarine;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px
}
.card-content {
    display: flex;
    flex-direction: column;
}

.code-section {
    font-size: 1rem;
    margin-top: 20px;
}
.copy-button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.copy-button:hover {
    background-color: #1ee8e4;
}
.copy-notice {
    color: rgb(22, 202, 234);
    margin-top: 5px;
}
.buttons-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.section-button {
    width: 33%;
    margin: 1px;
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.section-button:hover {
    background-color: #007bff;
    color: white;
}
@media (max-width: 768px) {
    .code-section {
        max-width: 90%;
        font-size: 0.6rem;
    }
}
/* TaskTable.css */

.task-inputs {
  display: flex;
  margin-bottom: 20px;
}

.task-inputs input,
.task-inputs select,
.task-inputs button {
  margin-right: 10px;
  padding: 8px;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.task-table th, .task-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.task-table th {
  background-color: #181818;
}

.completed-tasks {
  max-width: 600px;
  margin: 0 auto;
}

.completed-tasks h2 {
  margin-bottom: 10px;
}

.completed-tasks ul {
  list-style-type: none;
  padding: 0;
}

.completed-tasks li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .task-inputs {
    flex-direction: column; /* Cambia la dirección de la fila a columna */
    margin-bottom: 10px;
  }

  .task-inputs input,
  .task-inputs select,
  .task-inputs button {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    padding: 10px; /* Ajusta el padding para hacer todos los elementos iguales */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
  }

  .task-table th,
  .task-table td {
    font-size: 14px; /* Reducir el tamaño de la fuente para adaptarse a la pantalla móvil */
    padding: 6px; /* Ajustar el padding para una apariencia más compacta */
  }
}