.card {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    min-height: 300px;
    max-height: auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    width: 90%;
    max-width: 90%;
    overflow: hidden;
}
.dropdown-title{
    font-size: 30px;
    font-weight: bold;
    color: aquamarine;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px
}
.card-content {
    display: flex;
    flex-direction: column;
}

.code-section {
    font-size: 1rem;
    margin-top: 20px;
}
.copy-button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.copy-button:hover {
    background-color: #1ee8e4;
}
.copy-notice {
    color: rgb(22, 202, 234);
    margin-top: 5px;
}
.buttons-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.section-button {
    width: 33%;
    margin: 1px;
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.section-button:hover {
    background-color: #007bff;
    color: white;
}
@media (max-width: 768px) {
    .code-section {
        max-width: 90%;
        font-size: 0.6rem;
    }
}

.dropdown-conteiner-master{
    margin: auto;
    text-align: center;
    width: 60%;
    min-width: 60%;
    min-height: 60vh;
    height: auto;
}
.dropdown-header {
    display:flex;
    flex-direction: row;
    margin-right: 10px;
}
.dropdwn-subtitle{
    font-size: 32px;
    color: #ffffff;
    width: 20%;
    min-width: 20%;
    margin-right: 10px;
}

.dropdown-dos-selection{
    width: 80%;
    min-width: 80%;
    padding: 10px;
    background-color: rgb(175, 173, 173);
    border:solid rgb(73, 72, 72) 5px;
    border-radius: 8px;
    font-size: 20px;
    margin-bottom: 5px;
    cursor: pointer;
}
.options-container{
    padding: 10px;
    background-color: rgb(175, 173, 173);
    border:solid rgb(73, 72, 72) 5px;
    border-radius: 8px;
    position: absolute;
    width: 40.3%;
    left: 34.5%;
    cursor: pointer;

}

.option{
    color: black;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}
.dropdown-element{
    font-size: 20px;
}
.toast-container {
    position: relative;
}
.toast-dropdown {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 62vh;
    background: gray;
    border: solid 5px rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.toast-content {
    background-color: grey;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.toast-button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.label-input-dropdown{
    display: flex;
    flex-direction:row ;
    width: 100%;
}
.label-dropdown {
    font-size: 30px;
    color: #ffffff;
    width: 20%;
    margin-right: 10px;
}

.input-dropdown {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 76%;
    border: solid 5px rgb(65, 65, 65);
    background-color: rgb(189, 189, 189);
}
.terminate-button-dropdown {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.terminate-button-dropdown:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .dropdown-header{
        flex-direction: column; /* Cambia a disposición de columna */
    }

    .dropdwn-subtitle,
    .input-dropdown,
    .dropdown-dos-selection {
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    .options-container {
        left: 90px;
        width: 45%;
    }

    .label-input-dropdown {
        display: flex;
        flex-direction: column; /* Cambia a disposición de columna */
        align-items: center; /* Centra horizontalmente */
    }
    .label-dropdown{
        text-align: center;
        width: 100%;
        margin-right: 0;
        margin: auto;
    }
    .input-dropdown {
        margin: none; /* Ocupa todo el ancho disponible */
    }
    .toast-dropdown{
        width: 100%;
        height: 80vh;
    }
}

/* Media query para vista de tableta */
@media (min-width: 769px) and (max-width: 1024px) {
    .dropdown-header{
        flex-direction: column; /* Cambia a disposición de columna */
    }

    .dropdwn-subtitle,
    .input-dropdown,
    .dropdown-dos-selection {
        width: 100%; /* Ocupa todo el ancho disponible */
    }

    .options-container {
        left: 23%;
        width: 50%;
    }

    .label-input-dropdown {
        display: flex;
        flex-direction: column; /* Cambia a disposición de columna */
        align-items: center; /* Centra horizontalmente */
    }
    .label-dropdown{
        text-align: center;
        width: 100%;
        margin-right: 0;
        margin: auto;
    }
    .input-dropdown {
        justify-content: center;
        align-items: center;
        margin: auto;
        width: auto; /* Ocupa todo el ancho disponible */
    }
    .toast-dropdown{
        width: 100%;
        height: 63vh;
    }
}