.card {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 8px;
    min-height: 300px;
    max-height: auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
    width: 90%;
    max-width: 90%;
    overflow: hidden;
}
.carrousel-title{
    font-size: 30px;
    font-weight: bold;
    color: aquamarine;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px
}
.card-content {
    display: flex;
    flex-direction: column;
}

.code-section {
    font-size: 1rem;
    margin-top: 20px;
}
.copy-button {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}
.copy-button:hover {
    background-color: #1ee8e4;
}
.copy-notice {
    color: rgb(22, 202, 234);
    margin-top: 5px;
}
.buttons-sections {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.section-button {
    width: 33%;
    margin: 1px;
    background-color: #fff;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.section-button:hover {
    background-color: #007bff;
    color: white;
}
@media (max-width: 768px) {
    .code-section {
        max-width: 90%;
        font-size: 0.6rem;
    }
}
.recipe-carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  width: 400px;
  max-width: 400px;
  margin: 0 auto;
}
.recipe-date-total{
    display: flex;
    flex-direction: row;
}
.recipe {
  display: flex;
  width: 150px;
  align-items: center;
}

.recipe img {
  width: 100%;
  height: auto;
  margin: auto;
  margin-left: 5px;
  border-radius: 50%;
}

.recipe-details {
    margin-top: 40px;
    text-align: left;
    width: 250px;
    text-align: center;
}

.recipe h2 {
  font-size: 24px;
  text-align: center;
}

.recipe button {
  background-color: #007BFF;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: 10px;
}

.recipe-details p {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
}
.nav-buttons button{
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .recipe-carousel {
    width: 90%; /* Ocupa todo el ancho disponible */
  }

  .recipe {
    width: 100%; /* Ocupa todo el ancho disponible */
  }

  .recipe-details {
    width: 100%; /* Ocupa todo el ancho disponible */
  }
  .recipe-details h2{
    font-size: 16px;
  }
}